.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 600px;
    height: 200px;
  }
  .grid-item {
    background-color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 50px; 
    color: blue;
    text-align: center;
    margin: 10px
  }

  .sorteo {
    background-color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 180px;
    height: 180px;
    font-size: 50px;
    text-align: center;
    margin: 20px
    
  }