h1{
    color: green;
}

table{
    text-align: center;
    margin: auto;
    
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    width: 50px;
    height: 50px;
    text-align: center;
}